.step {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
.modal-dialog {
  max-height: 100vh; /* Ensure the modal does not exceed the viewport height */
  display: flex;
  flex-direction: column;
}

.modal-content {
  flex: 1 1 auto; /* Allow the content to grow and shrink */
  overflow-y: auto; /* Enable scrolling if content exceeds the modal height */
   /* overflow: hidden !important; */
}
/* .modal-header {
  padding: 10px 15px !important; /* Reduce padding */
  /* Hide scrollbar for Chrome, Safari and Opera */

/* Hide scrollbar for Chrome, Safari and Opera */
.modal-body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.modal-body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}