@media (min-width: 1200px) {
    .css-15e01qk-MuiContainer-root {
        max-width: 1230px!important;
        margin-top: 5%;
    }
}
.css-1vc8oil {
    margin-top: 24px;
    padding: 16px;
    background-color: #ffeed2!important;
    border-radius: 16px;
  }