
    .css-1yuhvjn{
        margin: -10px !important;
    }
    .MuiBox-root{
      padding: 0px ;
    }

    .css-alnuhg-MuiTypography-root,.css-1534noa-MuiTypography-root,.css-1rs44lj-MuiTypography-root,.css-1pwy8n0-MuiTypography-root,.MuiTypography-root{
      font-family: "Poppins" !important

    }

    body {
        font-family: 'Poppins', sans-serif !important;
        margin: 0;
        /* padding: 0; */
      }
      
      h1, h2, h3, h4, h5, h6 {
        font-weight: 700; /* Bold */
        font-family: 'Poppins', sans-serif !important;
      }
      
      strong {
        font-weight: 600; /* Semi-Bold */
        font-family: 'Poppins', sans-serif !important;
      }
      
      p {
        font-weight: 400; /* Regular */
        font-family: 'Poppins', sans-serif !important;
      }

      
.css-51x56s{
  z-index: 1000 !important;
}

.EventCardMobile{
  overflow-x:scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden; /* hide horizontal scrollbar */
  overflow-y: scroll; /* keep vertical scrollbar */
}
@media (min-width: 1024px) {
  body {
    background-color: #ececec;
  }
}

.calculator-sub-title{
  color: #505050!important;
  font-size: 18px;
  text-transform: capitalize!important;
  font-family: 'Poppins', sans-serif !important;

  }

  @media (min-width: 1024px) {
    body {
        background-color: #fff;
    }
}
.assumed-val{
  display: flex;
  align-self: flex-end;
  }
  .css-mdw22z{
    width: 22%;
  }
  .css-1cb6djm-MuiSlider-root .MuiSlider-valueLabel{
    top: -3px!important;
  }
  .css-1cb6djm-MuiSlider-root{
    margin-top: 15%;
  }
  .css-wr6kyc-MuiDialogActions-root{
    position: absolute!important;
    right: 0;
    top: 0;

  }
  .css-1ygxhtn-MuiSlider-root{
    margin-top: 7%;
  }

  @media (max-width: 575px) {
  .css-mdw22z {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
.calculator-p{
    font-size: 14px!important;
  }
  .css-wr6kyc-MuiDialogActions-root{
    position: absolute;
    right: -15px!important;


  }
  }
  .css-1ntjmc-MuiGrid-root>.MuiGrid-item{
    padding-top: 0px!important;
    padding-left: 0px!important;
  }

  /* MobileWaitlistButton.css */
/* .mobile-waitlist-btn {
  position: fixed;
  bottom: 37px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #007FAD;
  color: white;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.mobile-waitlist-btn:hover {
  background-color: #005f8a;
} */
.css-1xplwhu{
  margin-top: 20%!important;
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
    .css-15e01qk-MuiContainer-root {
        max-width: 1260px !important;
        margin-top: 6%;
    }
}
.css-10d30g3-MuiPaper-root-MuiDialog-paper{
  border-radius: 16px!important;
}